<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #productsForm="ngForm">
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input type="text" [(ngModel)]="products.productName" 
            class="form-control" 
            id="productName" 
            name="productName" 
            placeholder="Enter your product name"
            required #productName="ngModel">
        </div>
        <div [hidden]="!productName.pristine" class="alert alert-danger">Product name is required</div>
        <div class="form-group">
          <label for="shortDesc">Email</label>
          <input type="text" [(ngModel)]="products.shortDesc" 
            class="form-control" 
            id="shortDesc" 
            name="shortDesc" 
            placeholder="Enter short description">
            <!--<div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div> -->
        </div>
        <button type="submit" [disabled]="!productsForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>